<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SimplePlainSettings.Int" value="-1000000"/>
		<add key="SimplePlainSettings.Uint" value="1000000"/>
		<add key="SimplePlainSettings.Long" value="-1000000000000"/>
		<add key="SimplePlainSettings.Ulong" value="1000000000000"/>
		<add key="SimplePlainSettings.Byte" value="100"/>
		<add key="SimplePlainSettings.String" value="String"/>
		<add key="SimplePlainSettings.DateTime" value="10.10.10 10:10:10"/>
		<add key="SimplePlainSettings.TimeSpan" value="10:10:10"/>
		<add key="SimplePlainSettings.Bool" value="True"/>
		<add key="SimplePlainSettings.Char" value="c"/>
		<add key="SimplePlainSettings.Double" value="1000000000000.0000000000001"/>
		<add key="SimplePlainSettings.Decimal" value="1000000000000.10000000000001000000000000"/>
		<add key="simple.Int" value="-1000000"/>
		<add key="simple.Uint" value="1000000"/>
		<add key="simple.Long" value="-1000000000000"/>
		<add key="simple.Ulong" value="1000000000000"/>
		<add key="simple.Byte" value="100"/>
		<add key="simple.String" value="String"/>
		<add key="simple.DateTime" value="10.10.10 10:10:10"/>
		<add key="simple.TimeSpan" value="10:10:10"/>
		<add key="simple.Bool" value="True"/>
		<add key="simple.Char" value="c"/>
		<add key="simple.Double" value="1000000000000.0000000000001"/>
		<add key="simple.Decimal" value="1000000000000.10000000000001000000000000"/>
	</appSettings>
</configuration>