<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="complexSettings" type="SettingsReader.Configuration.ConfigurationSection, SettingsReader"/>
		<section name="complex" type="SettingsReader.Configuration.ConfigurationSection, SettingsReader"/>
	</configSections>
	<appSettings>
		<add key="SimplePlainSettings.Int" value="-1000000"/>
		<add key="SimplePlainSettings.Uint" value="1000000"/>
		<add key="SimplePlainSettings.Long" value="-1000000000000"/>
		<add key="SimplePlainSettings.Ulong" value="1000000000000"/>
		<add key="SimplePlainSettings.Byte" value="100"/>
		<add key="SimplePlainSettings.String" value="String"/>
		<add key="SimplePlainSettings.DateTime" value="10.10.10 10:10:10"/>
		<add key="SimplePlainSettings.TimeSpan" value="10:10:10"/>
		<add key="SimplePlainSettings.Bool" value="True"/>
		<add key="SimplePlainSettings.Char" value="c"/>
		<add key="SimplePlainSettings.Double" value="1000000000000.0000000000001"/>
		<add key="SimplePlainSettings.Decimal" value="1000000000000.100000000000010000000000001"/>
		<add key="simple.Int" value="-1000000"/>
		<add key="simple.Uint" value="1000000"/>
		<add key="simple.Long" value="-1000000000000"/>
		<add key="simple.Ulong" value="1000000000000"/>
		<add key="simple.Byte" value="100"/>
		<add key="simple.String" value="String"/>
		<add key="simple.DateTime" value="10.10.10 10:10:10"/>
		<add key="simple.TimeSpan" value="10:10:10"/>
		<add key="simple.Bool" value="True"/>
		<add key="simple.Char" value="c"/>
		<add key="simple.Double" value="1000000000000.0000000000001"/>
		<add key="simple.Decimal" value="1000000000000.100000000000010000000000001"/>
	</appSettings>
	<complexSettings>
		<simplePlainSettings>
			<int>-1000000</int>
			<uint>1000000</uint>
			<long>-1000000000000</long>
			<ulong>1000000000000</ulong>
			<byte>100</byte>
			<string>String</string>
			<datetime>10.10.10 10:10:10</datetime>
			<timespan>10:10:10</timespan>
			<bool>True</bool>
			<char>c</char>
			<double>1000000000000.0000000000001</double>
			<decimal>1000000000000.100000000000010000000000001</decimal>
		</simplePlainSettings>
		<books>
			<name>Совершенный код</name>
			<author>С. Макконнелл</author>
			<releaseDate>1993-09-10</releaseDate>
			<pages>518</pages>
			<isReleased>true</isReleased>
		</books>
		<books>
			<name>Алгоритмы. Построение и анализ</name>
			<author>Томас Кормен, Чарльз Лейзерсон, Рональд Ривест, Клиффорд Штайн</author>
			<releaseDate>1987-05-17</releaseDate>
			<pages>423</pages>
			<isReleased>true</isReleased>
		</books>
	</complexSettings>
	<complex>
		<simplePlainSettings>
			<int>-1000000</int>
			<uint>1000000</uint>
			<long>-1000000000000</long>
			<ulong>1000000000000</ulong>
			<byte>100</byte>
			<string>String</string>
			<datetime>10.10.10 10:10:10</datetime>
			<timespan>10:10:10</timespan>
			<bool>True</bool>
			<char>c</char>
			<double>1000000000000.0000000000001</double>
			<decimal>1000000000000.100000000000010000000000001</decimal>
		</simplePlainSettings>
		<books>
			<name>Совершенный код</name>
			<author>С. Макконнелл</author>
			<releaseDate>1993-09-10</releaseDate>
			<pages>518</pages>
			<isReleased>true</isReleased>
		</books>
		<books>
			<name>Алгоритмы. Построение и анализ</name>
			<author>Томас Кормен, Чарльз Лейзерсон, Рональд Ривест, Клиффорд Штайн</author>
			<releaseDate>1987-05-17</releaseDate>
			<pages>423</pages>
			<isReleased>true</isReleased>
		</books>
	</complex>
</configuration>